.Footer_Component {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Footer_Component > img {
  filter: invert();
  width: 8rem;
}

.List_Link {
  text-align: center;
}

.Contact {
  color: white;
  margin-bottom: 0.5rem;
}

.Contact:hover {
  color: var(--turquoise-color);
  transition: 0.5s ease;
}

.FAQ {
  color: white;
  margin-bottom: 0.5rem;
}

.FAQ:hover {
  color: var(--turquoise-color);
  transition: 0.5s ease;
}

.Politique {
  color: white;
}

.Politique:hover {
  color: var(--turquoise-color);
  transition: 0.5s ease;
}

@media screen and (min-width: 1640px) {
  .List_Link {
    display: flex;
  }

  .Contact {
    margin-right: 8rem;
  }

  .FAQ {
    margin-right: 8rem;
  }
}
