@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  font-family: "Anta", sans-serif;
  color: white;

  --black-color: #222831;
  --gray-color: #393e46;
  --turquoise-color: #00adb5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App_Page {
  background-color: var(--gray-color);
}
